<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="./tests/autoload.php"
         color="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailures="false"
         syntaxCheck="true"
        >
    <testsuites>

        <testsuite name="Complex tests">
            <directory suffix="Test.php">tests</directory>
        </testsuite>

    </testsuites>
</phpunit>